.list-cat{
 font-size: 2em;
 font-weight: bold;
 color: hsl(92, 56%, 5%);
 margin-bottom: 10px;
 text-align:center ;
 border: 3px solid;
 border-radius: 5px solid;
 background-color: hsla(120, 73%, 75%, 0.692); 

}
.list-i{
  font-size: 2em;
  color: hsla(0, 0%, 100%, 0.338);
  text-align:center ;
  list-style:NONE ;
  margin:0px;
 }

 .list-i li:hover{
  color: hsl(0, 0%, 100%);
  cursor: pointer;

 }

